/* Base Styles */
.skills {
  backdrop-filter: blur(10px);
  text-align: center;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.skills h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  animation: fadeIn 1s ease-in-out;
}

.skills-icons {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Creates 5 columns */
  justify-items: center; /* Centers the icons in each column */
  gap: 3rem;
  animation: slideIn 1s ease-in-out;
}

@media (max-width: 480px) {
  .skills-icons {
    flex-direction: column; /* Stack the icons vertically for small screens */
    gap: 1.5rem;
    grid-template-columns: 1fr; /* Single column for small screens */
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .skills-icons {
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr); /* 3 icons per row for tablets */
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .skills-icons {
    gap: 2.5rem;
    grid-template-columns: repeat(
      4,
      1fr
    ); /* 4 icons per row for small laptops */
  }
}

@media (min-width: 1025px) {
  .skills-icons {
    gap: 3rem;
    grid-template-columns: repeat(
      5,
      1fr
    ); /* 5 icons per row for wide screens */
  }
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  color: #333;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 0.7rem;
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.icon:hover {
  transform: scale(1.1);
}

.icon p {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #666;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Responsive Styles */

/* Smartphones */
@media (max-width: 480px) {
  .skills {
    padding: 1.5rem;
  }
  .skills h2 {
    font-size: 2rem;
  }
  .skills-icons {
    flex-direction: column;
    gap: 1.5rem;
  }
  .icon {
    font-size: 2.5rem;
    padding: 0.5rem;
  }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .skills {
    padding: 1.8rem;
  }
  .skills h2 {
    font-size: 2.25rem;
  }
  .skills-icons {
    gap: 2rem;
  }
  .icon {
    font-size: 2.75rem;
    padding: 0.6rem;
  }
}

/* Small Laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  .skills {
    padding: 2rem;
  }
  .skills h2 {
    font-size: 2.5rem;
  }
  .skills-icons {
    gap: 2.5rem;
  }
  .icon {
    font-size: 3rem;
    padding: 0.7rem;
  }
}

/* Wide Screens */
@media (min-width: 1025px) {
  .skills {
    padding: 2.5rem;
  }
  .skills h2 {
    font-size: 2.5rem;
  }
  .skills-icons {
    gap: 3rem;
  }
  .icon {
    font-size: 3rem;
    padding: 0.7rem;
  }
}
