/* Contact Section */
.contact {
  width: 100%;
  background: transparent;
  color: white;
  padding: 2rem 1rem;
  text-align: center;
  justify-items: center;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: baseline; /* Align items to the baseline */
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  align-items: baseline; /* Align items to the baseline */
}

input, textarea {
  margin: 10px 0;
  width: 100%;
  max-width: 400px;
}

button {
  margin-top: 20px;
}

.contact h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #ffd700; /* Yellow color for main heading */
}

.contact form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  gap: 1rem;
  align-items: baseline; /* Align items to the baseline */
}

.contact input,
.contact textarea {
  width: 170%; /* Increase the width */
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  margin: 0 auto; /* Center align the inputs */
}

.contact input:focus,
.contact textarea:focus {
  outline: none;
  box-shadow: 0px 0px 10px #ffd700;
}

.contact textarea {
  min-height: 150px;
  resize: none;
}

.contact .btn {
  background: #ffd700;
  color: #333;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact .btn:hover {
  background: #ffcc33;
}
