.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.home-content {
  flex: 1; /* Use remaining space */
  padding-right: 20px; /* Add spacing between text and image */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.home-image {
  flex: 1; /* Use remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image img {
  width: 400px;
  height: 400px;
  border-radius: 50%; /* Make the image circular */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Optional shadow for a better effect */
  transition: transform 0.3s ease-in-out; /* Smooth transition for the transform property */
}

.home-image img:hover {
  transform: scale(1.1); /* Slightly enlarge the image on hover */
}

.highlight {
  color: #ffc107; /* Yellow color for the highlight */
}

.actions .btn {
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1rem;
}

.primary {
  background-color: #ffc107;
  color: black;
  text-decoration: none;
  margin-right: 10px;
}

.secondary {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  text-decoration: none;
}

.home {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
