/* Projects Section */
.projects {
  background: transparent;
  color: #fff;
  padding: 4rem 2rem;
  text-align: center;
}

.projects h2 {
  font-size: 2.5rem;
  color: #ffd700; /* Yellow color for main heading */
  margin-bottom: 2rem;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Ensure three columns in the grid */
  gap: 2rem; /* Adjust the gap between grid items */
}

.project-card {
  width: 40%; /* Set each project item to take up 30% of the screen width */
  margin: 0 auto; /* Center the project items horizontally */
  aspect-ratio: 1; /* Optional: Maintain square aspect ratio */
  box-shadow: 0px 4px 6px rgba(143, 21, 180, 0.1); /* Optional: Add shadow for better visual effect */
  background-color: rgba(255, 255, 255, 0.1); /* Optional: Background color for the project cards */
  padding: 1rem; /* Optional: Padding for content inside the cards */
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.project-card h3 {
  font-size: 1.5rem;
  color: #ffd700; /* Yellow color for subheadings */
  margin-bottom: 1rem;
}

.project-card p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: #fff; /* White color for text */
}

.project-card a {
  background: #2575fc;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  text-decoration: none;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.project-card a:hover {
  background: #6a11cb;
}
